.phone-number {
  display: inline-flex;
  transition: none !important;
}

.phone-number--country {
  flex: 1 1 auto;
}

.phone-number--number {
  flex: 0 1 75%;
  height: 2.3rem!important;
}

.Select-menu-outer {
  width: 200px;
}

.message {
  font-weight: bold;
  color: brown;
}