.customLabel {
font-weight: normal;
font-family: Roboto;
color: rgba(162, 172, 182, 1);
font-size: 14px;
}
.customInput2 {
border-radius: 0rem!important;
box-shadow: 0!important;
border-bottom: 1px solid!important;
}
.customSection {
border-radius: 0rem!important;
box-shadow: 0!important;
border: 1px solid!important;
border-bottom: 1px solid!important;
background-color: white!important;
}
.customTitle2 {
font-weight: normal;
font-family: Roboto;
font-size: 1.17em;
}
.customToolbar2 {
background-color: rgba(0, 47, 115, 1)!important;
}
.customFormTheme {
padding: 2rem;
color: rgba(0, 47, 115, 1)!important;
background-color: rgba(237, 244, 252, 1)!important;
}
.customButton2 {
border-radius: 0.3rem!important;
box-shadow: 0!important;
}
